.BasicForm {
    width: 50%;

    &__title {
        font-size: 3.5rem;
    }

    &__buttons {
        display: flex;
        width: max-content;

        & button {
            margin-right: 5rem;
        }
    }
}
