.container {
    display: grid;
    margin: 20px 10% 100px 10%;
    grid-gap: 60px 20px;
    grid-template-areas:
        'top__section top__section top__section'
        'desc         info         map'
        'artists      artists      artists'
        'tickets      tickets      tickets'
        'staff        staff        staff';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto minmax(400px, auto) auto auto auto;
    font-size: 1.5em;
    height: fit-content;
}

.top__section {
    grid-area: top__section;
    display: grid;
    grid-template-areas: 'button__back title button__edit';
    place-items: center center;
    grid-template-columns: auto 1fr auto;
    margin: 0px 40px;
}

.button__back {
    grid-area: button__back;
}

.button__edit {
    grid-area: button__edit;
    display: inline-block;
    transition: all 0.3s ease;
    transform: translateY(25%);
}

.title {
    margin-top: 30px;
    grid-area: title;
    font-size: 3em;
    text-align: center;
}

.artist__button,
.ticket__button,
.staff__button {
    justify-self: center;
    padding: 0.4rem 2rem;
    background-color: #ff9f43;
    font-size: 1em;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        color: #fff;
        background-color: #ca680c;
    }
}

.subtitle {
    font-size: 2.2em;
}

.subtitle::before,
.subtitle::after {
    display: inline-block;
    content: '';
    border-top: 0.3rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.descTitle {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.2em;
}

.desc {
    grid-area: desc;
    text-align: justify;
}

.info {
    grid-area: info;
    display: grid;
    max-height: 500px;
    grid-template-areas:
        'location'
        'date'
        'host'
        'ticketAmount';
    align-items: center;
}

.info__item {
    display: grid;
    grid-template-areas:
        'info__icon info__title'
        'info__icon info__description';
    grid-template-columns: 0.6fr 1fr;
    grid-gap: 0px 20px;
    place-items: center center;
}

.info__icon {
    grid-area: info__icon;
    justify-self: end;
    font-size: 2.5em;
    color: #ff932e;
    margin: 0;
}

.info__title {
    grid-area: info__title;
    justify-self: start;
}

.info__description {
    grid-area: info__description;
    justify-self: start;
}

.location {
    grid-area: location;
}

.date {
    grid-area: date;
}

.host {
    grid-area: host;
}

.ticketAmount {
    grid-area: ticketAmount;
}

.map {
    grid-area: map;
    background-color: lightgray;
    overflow: hidden;
    min-height: 300px;
    max-height: 500px;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.artists {
    grid-area: artists;
    display: grid;
    grid-template-areas:
        'artist__title'
        'artist__edit'
        'artist__list';
    grid-gap: 10px;
}

.artists > h1 {
    grid-area: artist__title;
    justify-self: center;
}

.artist {
    &__button {
        grid-area: artist__edit;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 2rem;
        margin-top: 1rem;
    }

    &__wrapper {
        display: grid;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        grid-gap: 1rem;
        border: 1px solid lightgray;
        padding: 2rem 0;
        box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.2);
        transition: all 0.3s;

        &:hover {
            transform: translateY(-0.5rem);
        }
    }

    &__image {
        overflow: hidden;
        display: grid;
        place-content: center center;
        border-radius: 50%;
        width: 150px;
        & > img {
            height: 150px;
        }
    }
}

.button__contract {
    color: #494949 !important;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button__contract:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

.button__rider {
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    color: #494949 !important;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button__rider:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

.tickets {
    grid-area: tickets;
    display: grid;
    grid-template-areas:
        'ticket__title'
        'ticket__edit'
        'ticket__list';
    grid-gap: 10px;
}

.ticket__button {
    grid-area: ticket__edit;
}

.tickets > h1 {
    grid-area: ticket__title;
    justify-self: center;
}

.ticket__wrapper > p {
    font-size: 1.2em;
    font-style: italic;
}

.ticket__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 1rem;
}

.ticket__wrapper {
    border: 1px solid lightgray;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;

    &:hover {
        transform: translateY(-0.5rem);
    }
}

.staff {
    grid-area: staff;
    display: grid;
    grid-template-areas:
        'staff__title'
        'edit__staff'
        'staff__list';
    grid-gap: 10px;
}

.staff__button {
    grid-area: edit__staff;
}

.staff > h1 {
    grid-area: staff__title;
    justify-self: center;
}

.staff__name {
    grid-area: name;
}

.staff_number {
    grid-area: staff_number;
}

.staff__proffesion {
    grid-area: proffesion;
}

.staff__wrapper > p {
    font-size: 1.2em;
    font-style: italic;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 1rem;
}

.staff__wrapper {
    text-align: center;
    border: 1px solid lightgray;
    padding: 5px;
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);

    transition: all 0.3s;

    &:hover {
        transform: translateY(-0.5rem);
    }
}

@media only screen and (max-width: 1250px) {
    .container {
        grid-template-areas:
            'top__section top__section'
            'desc    info'
            'map   map'
            'artists artists '
            'tickets tickets '
            'staff   staff   ';
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.5em;
        height: fit-content;
    }

    .top__section {
        grid-template-areas:
            'title'
            'button__back'
            'button__edit';
        justify-self: center;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        grid-template-areas:
            'top__section'
            'desc'
            'info'
            'map'
            'artists'
            'tickets'
            'staff';
        grid-template-columns: repeat(1, 1fr);
        font-size: 1.5em;
        height: fit-content;
        margin: 20px 20px 100px 20px;
    }

    .info {
        grid-template-areas:
            'location date'
            'host ticketAmount';
        grid-row-gap: 20px;
        font-size: 0.8em;
    }

    .subtitle::before,
    .subtitle::after {
        display: none;
    }
}
