.container {
    display: grid;
    margin: 20px 100px 100px 100px;
    grid-gap: 20px;
    grid-template-areas:
        'title'
        'rider__list';
    font-size: 1.5em;
    height: fit-content;
}

.title {
    grid-area: title;
    font-size: 3em;
}

.rider__list {
    grid-area: rider__list;
}

.rider__wrapper {
    display: grid;
    grid-area: rider__list;
    grid-template-areas: 'rider__amount rider__name button__edit button__delete';
    grid-template-columns: 60px 1fr 200px 200px;
    border-radius: 5px;
    margin: 18px;
    font-size: 1.2em;
    align-items: center;
    background-color: rgb(240, 240, 240);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.rider__wrapper > p, .ride__wrapper > input{
    padding: 10px;
}

.rider__amount {
    grid-area: rider__amount;
    font-weight: bold;
}

.rider__name {
    grid-area: rider__name;
    text-align: left;
}

.button__delete {
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: #b71540;
    color: white;
    font-weight: bold;
    border-left: none;
    font-size: 2.1em;
}

.button__edit {
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    background-color: #4eb163;
    color: white;
    font-weight: bold;
    border-right: none;
    font-size: 1.7em;
}

.rider__wrapper > input {
    font-size: 1em;
    padding: 20px 10px;
    margin: 0;
}

.input__amount {
    grid-area: rider__amount;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    margin-right: 3px;
}

.input__name {
    grid-area: rider__name;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.button__add {
    height: 100%;
    border-radius: 5px;
    background-color: #4a69bd;
    color: white;
    font-weight: bold;
    border-left: none;
    font-size: 2.0em;
    padding: 0;
    grid-column: 3 / 5;
}
