.viewProfile {
}
.showLayer {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.editLayer {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 20px;
  width: 30vw;
  text-align: center;
  padding: 20px 30px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-image: url("https://cdn.pixabay.com/photo/2015/12/22/04/00/edit-1103598_960_720.png");
  background-repeat: no-repeat;
  background-size: 90%;
}
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fadeUser:hover{
  color: #eee;
}
.imgContainer{
  position: relative;
  width: 24vw;
  max-width: 400px;
}
.imgContainer:hover .overlay {
  opacity: 1;
}
.editLayer:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.input {
  width: 12vw;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
.input:focus, input:focus{
  outline: none;
}
.profile {
  width: 100%;
  height: auto;
}
.h1 {
  font-family: "Agency FB";
  color: black;
  font-size: 40px;
}
.p {
  font-size: 25px;
}
.button {
  background-color: darkgrey;
  border: none;
  color: whitesmoke;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 3px 1.5px;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.button:hover {
  background-color: black;
  color: white;
}
.column {
  float: left;
  width: 50%;
}
.row {
  padding-top: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}