.viewProfile{
}
.editLayer {
    position: absolute;
    right: 10%;
    background-color: white;
    border: 3px solid #ff9f43;
    border-radius: 30px;
    pointer-events: none;
    visibility: hidden;
    color: #333333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    font-size: 20px;
    width: 50%;
    text-align: center;
    padding: 5px 30px;
}
.bioLayer{
    top: 50vh;
    left: 37.5%;
    position: absolute;
    background-color: white;
    border: 3px solid #ff9f43;
    border-radius: 30px;
    color: #333333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    font-size: 20px;
    width: 25%;
    text-align: center;
    padding: 5px 30px;
}
.bioLayer:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
.redigerBrukerBtn{
    background-color: #333333;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    padding: 7.5px 16px;
    text-align: center;
    transition-duration: 0.3s;
    cursor:pointer;
}
.redigerBrukerBtn:hover{
    color: #ff9f43;
}
.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}
.fadeUser:hover {
    color: #eee;
}
.imgContainer {
    position: absolute;
    width: 22vw;
    height: 22vw;
    left: 38%;
    transition-duration: 0.5s;
}
.imgContainer:hover .overlay {
    opacity: 1;
}
.editLayer:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
.editHeader {
    font-family: "Agency FB";
    font-size: 30px;
}
.editTitle {
    font-family: 'Agency FB';
    font-size: x-large;
    color: #333333;
}
.input:focus,
input:focus {
    outline: none;
}
.profile {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ff9f43;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.profile:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
.h1 {
    font-family: 'Agency FB';
    color: #333333;
    font-size: 40px;
}
.p {
    font-size: 25px;
}
.button {
    background-color: #333333;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 3px 1.5px;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
}
.button:hover {
    background-color: #333333;
    color: #ff9f43;
}
.column {
    float: left;
    padding-left: 10px;
    width: 33.3%;
}
.row {
    padding-top: 50px;
}
.row:after {
    content: '';
    display: table;
    clear: both;
}
.redigerBtn {
    position: absolute;
    bottom: 55vh;
    left: calc(50% - 10vw);
    width: 65px;
    height: 65px;
    background-color: whitesmoke;
    border: 3px solid #ff9f43;
    border-radius: 50%;
    color: #333333;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 3px 1.5px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.redigerBtn:hover {
    background-color: #333333;
    color: #ff9f43;
}
.imgBtn {
    width: 90px;
    position: absolute;
    background-color: #333333;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 7.5px 16px;
    left: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 3px 1.5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.imgBtn:hover {
    background-color: #333333;
    color: #ff9f43;
}
@media only screen and (max-width: 600px){
    .bioLayer{
        left: 15px;
        top: 500px;
    }
    .editLayer{
        left: 15px;
        top: 500px;
    }
}
@media only screen and (max-width: 1000px) {
    .bioLayer {
        left: 0;
        top: 350px;
        width: 100%;
    }
    .editLayer {
        left: 0;
        top: 600px;
        width: 100%;
    }
    .imgContainer{
        width: 50%;
        
    }
    .redigerBtn {
        top: 250px;
    }
}
@media only screen and (max-width: 1600px){
    .bioLayer {
        top: 65vh;
    }
    .redigerBtn {
        top: 52.5vh;
    }
}