
.showLayer {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.editLayer {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 20px;
  width: fit-content;
  text-align: center;
}
.editLayer:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.input:focus, input:focus{
  outline: none;
}

.p {
  font-size: 25px;
}
.column {
  float: left;
  width: 50%;
  bottom: 0;
}
.row {
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
