.container {
    display: grid;
    grid-template-areas:
        'title '
        'desc__wrapper'
        'staff__list'
        'button__submit';
    grid-gap: 15px;
    margin: 50px auto;
    place-items: center center;
    width: 60%;
    
}

.title {
    grid-area: title;
    font-size: 4em;
    font-weight: bolder;
}

.desc__wrapper{
    grid-area: desc__wrapper;
    display: grid;
    grid-template-areas: 
    'ph__name ph__contact ph__profession';
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center center;
    width: 100%;
}

.ph__name{
    grid-area: ph__name;
    font-size: 1.6em;
}

.ph__contact{
    grid-area: ph__contact;
    font-size: 1.6em;
}

.ph__profession{
    grid-area: ph__profession;
    font-size: 1.6em;

}

.staff__list{
    display:grid;
    grid-area: staff__list;
    grid-gap: 15px;
    width: 100%;
    place-items: center center;

}

.staff__wrapper{
    grid-template-areas: 
    'input__name input__contact input__profession button__delete';
    grid-template-columns: 1fr 1fr 1fr 20px;
}

.input__name {
    grid-area: input__name;
}

.input__contactInfo {
    grid-area: input__contactInfo;
}

.input__profession {
    grid-area: input__profession;
}

.button__delete {
    grid-area: button__delete;
    background-color: red;
}

.button__submit {
    grid-area: button__submit;

}

.staff__wrapper > input {
    padding: 15px;
    font-size: 1.4em;
    background-color: #fdfdfd;
    border: 1px solid lightgray;
    width: 33%;
}
