.container {
    display: grid;
    grid-template-areas:
        'input__search  input__toggle'
        'active__events   active__events'
        'archived__events archived__events';
    width: 80%;
    margin: 75px auto;
    grid-gap: 100px;
}

.active__events {
    grid-area: active__events;
    grid-template-areas:
        'title__active'
        'event__list';
    width: 100%;
}

.archived__events {
    grid-area: archived__events;
    grid-template-areas:
        'title__archived'
        'event__list';
    width: 100%;
}

.title {
    font-size: 4em;
    text-align: center;
}

.title::before,
.title::after {
    display: inline-block;
    content: '';
    border-top: 0.3rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.event__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 15px;
}
.event__list > .article {
    font-size: 1.4em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 350px;
}
.event__list > .article .image {
    width: 100%;
    border-top-left-radius: 20px;
    height: 45%;
}

.text {
    padding: 0 20px 20px;
}

.text h3 {
    text-align: center;
}

.text > button {
    background: gray;
    font-size: 1.2em;
    border: 0;
    color: white;
    padding: 10px;
    width: 80%;
    display: block;
    margin: 10px auto 0px auto;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
.text > button:hover {
    background-color: rgb(197, 187, 187);
    color: black;
}
