.navBar {
    height: 5rem;
    width: 100%;
    background-color: #333333;
    overflow: none;
    text-align: left;
    display: block;
}
.navLink {
    float: left;
    padding: 12px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 17px;
}
.activeLink {
    float: left;
    padding: 12px;
    color: #ff9f43;
    text-decoration: none;
    font-size: 17px;
}
.activeLink:hover {
    background-color: black;
}
.navLink:hover {
    background-color: black;
}

#container {
    width: 100%;
    height: 5rem;
}
