.TimePicker {
    transform: scale(1.25);

    &:first-of-type {
        margin-right: 4rem;
    }
}

.DatePicker {
    &__buttons {
        align-self: stretch;
        display: flex;
        justify-content: start;

        & button {
            margin-right: 3rem;
        }
    }

    &__options {
        display: flex;
    }

    &__times {
        margin-left: 2rem;
    }
}
